{% extends "base.html.twig" %}

{# la fonction parent() permet de récupérer la valeur qui se trouve dans le bloc de la classe mère #}
{% block title %}Accueil | {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h1 class="center">Hello, c'est la page d'accueil</h1>
			</div>
		</div>
	</div>
	<a href="site_annonces_immo/add">Ajouter un bien</a><br>
	<a href="site_annonces_immo/edit">Modifier le bien</a>

{% endblock %}