###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/*
!vendor/symfony
vendor/symfony/*
!vendor/symfony/doctrine-bridge
vendor/symfony/doctrine-bridge/*
!vendor/symfony/doctrine-bridge/PropertyInfo
vendor/symfony/doctrine-bridge/PropertyInfo/*
!vendor/symfony/doctrine-bridge/PropertyInfo/DoctrineExtractor.php

###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
