article {
    border: 1px solid black;
}

.user-card-action, .propertie-card-action {
    display: flex;
    justify-content: space-around;
}

img.home {
    height: 200px;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.flash-message {
    text-align: center;
}

.user_delete, .flash-message{
    border: 3px solid green;
    margin-top: 10px;
}

.div_delete_link {
    margin-top: 30px;
    padding: 50px 0px;
    font-size: x-large
}

.delete_link {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    margin: 0px 60px;
    text-decoration: none;
    text-transform: uppercase;
}

.delete_link:hover {
    background-color: black;
}